
     Program PWSCF v.6.1 starts on 23Jul2025 at 17:39:43 

     This program is part of the open-source Quantum ESPRESSO suite
     for quantum simulation of materials; please cite
         "P. Giannozzi et al., J. Phys.:Condens. Matter 21 395502 (2009);
          URL http://www.quantum-espresso.org", 
     in publications or presentations arising from this work. More details at
     http://www.quantum-espresso.org/quote

     Parallel version (MPI & OpenMP), running on      16 processor cores
     Number of MPI processes:                 1
     Threads/MPI process:                    16
     Reading input from espresso.in

     Current dimensions of program PWSCF are:
     Max number of different atomic species (ntypx) = 10
     Max number of k-points (npk) =  40000
     Max angular momentum in pseudopotentials (lmaxx) =  3
               file Mg.pbe-spnl-rrkjus_psl.1.0.0.UPF: wavefunction(s)  2P renormalized

     Subspace diagonalization in iterative solution of the eigenvalue problem:
     a serial algorithm will be used


     G-vector sticks info
     --------------------
     sticks:   dense  smooth     PW     G-vecs:    dense   smooth      PW
     Sum        1201     535    163                38857    11559    1991


     Title: 
     MgB2(SCF)                                                                  


     bravais-lattice index     =            4
     lattice parameter (alat)  =       5.7878  a.u.
     unit-cell volume          =     193.0204 (a.u.)^3
     number of atoms/cell      =            3
     number of atomic types    =            2
     number of electrons       =        16.00
     number of Kohn-Sham states=           12
     kinetic-energy cutoff     =      58.1209  Ry
     charge density cutoff     =     523.0880  Ry
     convergence threshold     =      1.0E-06
     mixing beta               =       0.7000
     number of iterations used =            8  plain     mixing
     Exchange-correlation      =  SLA  PW   PBE  PBE ( 1  4  3  4 0 0)

     celldm(1)=   5.787778  celldm(2)=   0.000000  celldm(3)=   1.149574
     celldm(4)=   0.000000  celldm(5)=   0.000000  celldm(6)=   0.000000

     crystal axes: (cart. coord. in units of alat)
               a(1) = (   1.000000   0.000000   0.000000 )  
               a(2) = (  -0.500000   0.866025   0.000000 )  
               a(3) = (   0.000000   0.000000   1.149574 )  

     reciprocal axes: (cart. coord. in units 2 pi/alat)
               b(1) = (  1.000000  0.577350 -0.000000 )  
               b(2) = (  0.000000  1.154701  0.000000 )  
               b(3) = (  0.000000 -0.000000  0.869887 )  


     PseudoPot. # 1 for Mg read from file:
     C:\Users\Asus\.burai\.pseudopot/Mg.pbe-spnl-rrkjus_psl.1.0.0.UPF
     MD5 check sum: 7c40945c0798581420c2fabae28d1e2b
     Pseudo is Ultrasoft + core correction, Zval = 10.0
     Generated using "atomic" code by A. Dal Corso  v.5.1.2
     Using radial grid of 1129 points,  4 beta functions with: 
                l(1) =   0
                l(2) =   0
                l(3) =   1
                l(4) =   1
     Q(r) pseudized with 0 coefficients 


     PseudoPot. # 2 for B  read from file:
     C:\Users\Asus\.burai\.pseudopot/B.pbe-n-van_ak.UPF
     MD5 check sum: 44325abe75095cf951b0d625b71cdc45
     Pseudo is Ultrasoft + core correction, Zval =  3.0
     Generated by new atomic code, or converted to UPF format
     Using radial grid of  781 points,  4 beta functions with: 
                l(1) =   0
                l(2) =   0
                l(3) =   1
                l(4) =   1
     Q(r) pseudized with  8 coefficients,  rinner =    1.100   1.100   1.100


     atomic species   valence    mass     pseudopotential
        Mg            10.00    24.30500     Mg( 1.00)
        B-             3.00    10.81100     B ( 1.00)

     24 Sym. Ops., with inversion, found



   Cartesian axes

     site n.     atom                  positions (alat units)
         1           Mg  tau(   1) = (   0.0000000   0.0000000   0.0000000  )
         2           B-  tau(   2) = (   0.5000003   0.2886752   0.5747871  )
         3           B-  tau(   3) = (  -0.0000000   0.5773508   0.5747871  )

     number of k points=   133  Methfessel-Paxton smearing, width (Ry)=  0.0100

     Number of k-points >= 100: set verbosity='high' to print them.

     Dense  grid:    38857 G-vectors     FFT dimensions: (  45,  45,  50)

     Smooth grid:    11559 G-vectors     FFT dimensions: (  30,  30,  36)

     Estimated max dynamical RAM per process >      61.05MB

     Check: negative/imaginary core charge=   -0.000005    0.000000

     Initial potential from superposition of free atoms

     starting charge   15.99851, renormalised to   16.00000
     Starting wfc are   13 randomized atomic wfcs

     total cpu time spent up to now is        5.0 secs

     Self-consistent Calculation

     iteration #  1     ecut=    58.12 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  1.00E-02,  avg # of iterations =  3.7

     total cpu time spent up to now is       21.1 secs

     total energy              =    -139.01029350 Ry
     Harris-Foulkes estimate   =    -139.23490152 Ry
     estimated scf accuracy    <       0.32716902 Ry

     iteration #  2     ecut=    58.12 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  2.04E-03,  avg # of iterations =  2.6

     total cpu time spent up to now is       33.8 secs

     total energy              =    -139.09511263 Ry
     Harris-Foulkes estimate   =    -139.13099210 Ry
     estimated scf accuracy    <       0.06607289 Ry

     iteration #  3     ecut=    58.12 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  4.13E-04,  avg # of iterations =  2.2

     total cpu time spent up to now is       44.7 secs

     total energy              =    -139.11002942 Ry
     Harris-Foulkes estimate   =    -139.11013719 Ry
     estimated scf accuracy    <       0.00052674 Ry

     iteration #  4     ecut=    58.12 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  3.29E-06,  avg # of iterations =  4.2

     total cpu time spent up to now is       62.4 secs

     total energy              =    -139.11015211 Ry
     Harris-Foulkes estimate   =    -139.11015331 Ry
     estimated scf accuracy    <       0.00001523 Ry

     iteration #  5     ecut=    58.12 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  9.52E-08,  avg # of iterations =  4.2

     total cpu time spent up to now is       80.7 secs

     End of self-consistent calculation

     Number of k-points >= 100: set verbosity='high' to print the bands.

     the Fermi energy is     9.0762 ev

!    total energy              =    -139.11016402 Ry
     Harris-Foulkes estimate   =    -139.11016395 Ry
     estimated scf accuracy    <       0.00000013 Ry

     The total energy is the sum of the following terms:

     one-electron contribution =     -90.05049155 Ry
     hartree contribution      =      48.36479267 Ry
     xc contribution           =     -23.19945000 Ry
     ewald contribution        =     -74.22512015 Ry
     smearing contrib. (-TS)   =       0.00010502 Ry

     convergence has been achieved in   5 iterations

     Writing output data file espresso.save

     init_run     :      4.48s CPU      4.76s WALL (       1 calls)
     electrons    :     48.50s CPU     75.69s WALL (       1 calls)

     Called by init_run:
     wfcinit      :      3.09s CPU      3.29s WALL (       1 calls)
     potinit      :      0.25s CPU      0.24s WALL (       1 calls)

     Called by electrons:
     c_bands      :     41.88s CPU     67.72s WALL (       5 calls)
     sum_band     :      6.09s CPU      7.32s WALL (       5 calls)
     v_of_rho     :      0.36s CPU      0.41s WALL (       6 calls)
     newd         :      0.30s CPU      0.35s WALL (       6 calls)
     mix_rho      :      0.00s CPU      0.01s WALL (       5 calls)

     Called by c_bands:
     init_us_2    :      1.17s CPU      2.11s WALL (    1463 calls)
     cegterg      :     41.14s CPU     65.93s WALL (     665 calls)

     Called by sum_band:
     sum_band:bec :      0.23s CPU      0.21s WALL (     665 calls)
     addusdens    :      0.28s CPU      0.28s WALL (       5 calls)

     Called by *egterg:
     h_psi        :     33.77s CPU     37.33s WALL (    3034 calls)
     s_psi        :      0.17s CPU      0.59s WALL (    3034 calls)
     g_psi        :      0.00s CPU      0.11s WALL (    2236 calls)
     cdiaghg      :      9.02s CPU     27.17s WALL (    2901 calls)

     Called by h_psi:
     h_psi:pot    :     33.73s CPU     37.18s WALL (    3034 calls)
     h_psi:calbec :      0.02s CPU      0.67s WALL (    3034 calls)
     vloc_psi     :     33.70s CPU     35.90s WALL (    3034 calls)
     add_vuspsi   :      0.02s CPU      0.60s WALL (    3034 calls)

     General routines
     calbec       :      0.03s CPU      0.81s WALL (    3699 calls)
     fft          :      0.06s CPU      0.13s WALL (      92 calls)
     ffts         :      0.03s CPU      0.02s WALL (      11 calls)
     fftw         :     33.22s CPU     32.87s WALL (   55604 calls)
     interpolate  :      0.03s CPU      0.04s WALL (      11 calls)

     Parallel routines
     fft_scatter  :      0.00s CPU      0.94s WALL (   55707 calls)

     PWSCF        :  0m53.44s CPU     1m21.38s WALL


   This run was terminated on:  17:41: 5  23Jul2025            

=------------------------------------------------------------------------------=
   JOB DONE.
=------------------------------------------------------------------------------=
