
     Program PWSCF v.6.1 starts on 23Jul2025 at 17:44: 5 

     This program is part of the open-source Quantum ESPRESSO suite
     for quantum simulation of materials; please cite
         "P. Giannozzi et al., J. Phys.:Condens. Matter 21 395502 (2009);
          URL http://www.quantum-espresso.org", 
     in publications or presentations arising from this work. More details at
     http://www.quantum-espresso.org/quote

     Parallel version (MPI & OpenMP), running on      16 processor cores
     Number of MPI processes:                 1
     Threads/MPI process:                    16
     Reading input from espresso.in

     Current dimensions of program PWSCF are:
     Max number of different atomic species (ntypx) = 10
     Max number of k-points (npk) =  40000
     Max angular momentum in pseudopotentials (lmaxx) =  3
               file Mg.pbe-spnl-rrkjus_psl.1.0.0.UPF: wavefunction(s)  2P renormalized

     Subspace diagonalization in iterative solution of the eigenvalue problem:
     a serial algorithm will be used


     G-vector sticks info
     --------------------
     sticks:   dense  smooth     PW     G-vecs:    dense   smooth      PW
     Sum        1201     535    163                38857    11559    1991


     Title: 
     MgB2_polarized (Burai)(SCF)                                                


     bravais-lattice index     =            4
     lattice parameter (alat)  =       5.7878  a.u.
     unit-cell volume          =     193.0204 (a.u.)^3
     number of atoms/cell      =            3
     number of atomic types    =            2
     number of electrons       =        16.00
     number of Kohn-Sham states=           12
     kinetic-energy cutoff     =      58.1209  Ry
     charge density cutoff     =     523.0880  Ry
     convergence threshold     =      1.0E-06
     mixing beta               =       0.7000
     number of iterations used =            8  plain     mixing
     Exchange-correlation      =  SLA  PW   PBE  PBE ( 1  4  3  4 0 0)

     celldm(1)=   5.787778  celldm(2)=   0.000000  celldm(3)=   1.149574
     celldm(4)=   0.000000  celldm(5)=   0.000000  celldm(6)=   0.000000

     crystal axes: (cart. coord. in units of alat)
               a(1) = (   1.000000   0.000000   0.000000 )  
               a(2) = (  -0.500000   0.866025   0.000000 )  
               a(3) = (   0.000000   0.000000   1.149574 )  

     reciprocal axes: (cart. coord. in units 2 pi/alat)
               b(1) = (  1.000000  0.577350 -0.000000 )  
               b(2) = (  0.000000  1.154701  0.000000 )  
               b(3) = (  0.000000 -0.000000  0.869887 )  


     PseudoPot. # 1 for Mg read from file:
     C:\Users\Asus\.burai\.pseudopot/Mg.pbe-spnl-rrkjus_psl.1.0.0.UPF
     MD5 check sum: 7c40945c0798581420c2fabae28d1e2b
     Pseudo is Ultrasoft + core correction, Zval = 10.0
     Generated using "atomic" code by A. Dal Corso  v.5.1.2
     Using radial grid of 1129 points,  4 beta functions with: 
                l(1) =   0
                l(2) =   0
                l(3) =   1
                l(4) =   1
     Q(r) pseudized with 0 coefficients 


     PseudoPot. # 2 for B  read from file:
     C:\Users\Asus\.burai\.pseudopot/B.pbe-n-van_ak.UPF
     MD5 check sum: 44325abe75095cf951b0d625b71cdc45
     Pseudo is Ultrasoft + core correction, Zval =  3.0
     Generated by new atomic code, or converted to UPF format
     Using radial grid of  781 points,  4 beta functions with: 
                l(1) =   0
                l(2) =   0
                l(3) =   1
                l(4) =   1
     Q(r) pseudized with  8 coefficients,  rinner =    1.100   1.100   1.100


     atomic species   valence    mass     pseudopotential
        Mg            10.00    24.30500     Mg( 1.00)
        B-             3.00    10.81100     B ( 1.00)

     Starting magnetic structure 
     atomic species   magnetization
        Mg           0.100
        B-           0.050

     24 Sym. Ops., with inversion, found



   Cartesian axes

     site n.     atom                  positions (alat units)
         1           Mg  tau(   1) = (   0.0000000   0.0000000   0.0000000  )
         2           B-  tau(   2) = (   0.5000003   0.2886752   0.5747871  )
         3           B-  tau(   3) = (  -0.0000000   0.5773508   0.5747871  )

     number of k points=   133  Methfessel-Paxton smearing, width (Ry)=  0.0100

     Number of k-points >= 100: set verbosity='high' to print them.

     Dense  grid:    38857 G-vectors     FFT dimensions: (  45,  45,  50)

     Smooth grid:    11559 G-vectors     FFT dimensions: (  30,  30,  36)

     Estimated max dynamical RAM per process >     111.94MB
     Generating pointlists ...
     new r_m :   0.3361 (alat units)  1.9450 (a.u.) for type    1
     new r_m :   0.2382 (alat units)  1.3784 (a.u.) for type    2

     Check: negative/imaginary core charge=   -0.000005    0.000000

     Initial potential from superposition of free atoms

     starting charge   15.99851, renormalised to   16.00000
     Starting wfc are   13 randomized atomic wfcs

     total cpu time spent up to now is       10.1 secs

     Self-consistent Calculation

     iteration #  1     ecut=    58.12 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  1.00E-02,  avg # of iterations =  3.6

     total cpu time spent up to now is       43.0 secs

     total energy              =    -139.00642016 Ry
     Harris-Foulkes estimate   =    -139.20530318 Ry
     estimated scf accuracy    <       0.38851661 Ry

     total magnetization       =     0.07 Bohr mag/cell
     absolute magnetization    =     0.09 Bohr mag/cell

     iteration #  2     ecut=    58.12 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  2.43E-03,  avg # of iterations =  2.5

     total cpu time spent up to now is       69.2 secs

     total energy              =    -139.09327928 Ry
     Harris-Foulkes estimate   =    -139.12792810 Ry
     estimated scf accuracy    <       0.07231169 Ry

     total magnetization       =     0.07 Bohr mag/cell
     absolute magnetization    =     0.08 Bohr mag/cell

     iteration #  3     ecut=    58.12 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  4.52E-04,  avg # of iterations =  2.2

     total cpu time spent up to now is       91.2 secs

     total energy              =    -139.10982685 Ry
     Harris-Foulkes estimate   =    -139.10939406 Ry
     estimated scf accuracy    <       0.00269736 Ry

     total magnetization       =     0.02 Bohr mag/cell
     absolute magnetization    =     0.03 Bohr mag/cell

     iteration #  4     ecut=    58.12 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  1.69E-05,  avg # of iterations =  3.0

     total cpu time spent up to now is      116.3 secs

     total energy              =    -139.11012831 Ry
     Harris-Foulkes estimate   =    -139.11013213 Ry
     estimated scf accuracy    <       0.00003144 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.01 Bohr mag/cell

     iteration #  5     ecut=    58.12 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  1.97E-07,  avg # of iterations =  4.2

     total cpu time spent up to now is      157.1 secs

     total energy              =    -139.11016373 Ry
     Harris-Foulkes estimate   =    -139.11016258 Ry
     estimated scf accuracy    <       0.00000144 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.00 Bohr mag/cell

     iteration #  6     ecut=    58.12 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  9.00E-09,  avg # of iterations =  2.0

     Magnetic moment per site:
     atom:    1    charge:    8.5348    magn:    0.0000    constr:    0.0000
     atom:    2    charge:    1.3752    magn:   -0.0000    constr:    0.0000
     atom:    3    charge:    1.3752    magn:   -0.0000    constr:    0.0000

     total cpu time spent up to now is      179.8 secs

     End of self-consistent calculation

     Number of k-points >= 100: set verbosity='high' to print the bands.

     the Fermi energy is     9.0758 ev

!    total energy              =    -139.11016406 Ry
     Harris-Foulkes estimate   =    -139.11016404 Ry
     estimated scf accuracy    <       0.00000006 Ry

     The total energy is the sum of the following terms:

     one-electron contribution =     -90.04968091 Ry
     hartree contribution      =      48.36396209 Ry
     xc contribution           =     -23.19943003 Ry
     ewald contribution        =     -74.22512015 Ry
     smearing contrib. (-TS)   =       0.00010493 Ry

     total magnetization       =     0.00 Bohr mag/cell
     absolute magnetization    =     0.00 Bohr mag/cell

     convergence has been achieved in   6 iterations

     Writing output data file espresso.save

     init_run     :      9.38s CPU      9.78s WALL (       1 calls)
     electrons    :    115.66s CPU    169.74s WALL (       1 calls)

     Called by init_run:
     wfcinit      :      7.69s CPU      8.12s WALL (       1 calls)
     potinit      :      0.33s CPU      0.26s WALL (       1 calls)

     Called by electrons:
     c_bands      :     97.80s CPU    150.75s WALL (       6 calls)
     sum_band     :     15.33s CPU     17.99s WALL (       6 calls)
     v_of_rho     :      2.11s CPU      0.65s WALL (       7 calls)
     newd         :      0.66s CPU      0.43s WALL (       7 calls)
     mix_rho      :      0.05s CPU      0.05s WALL (       6 calls)

     Called by c_bands:
     init_us_2    :      3.42s CPU      5.35s WALL (    3458 calls)
     cegterg      :     95.28s CPU    146.53s WALL (    1596 calls)

     Called by sum_band:
     sum_band:bec :      0.47s CPU      0.47s WALL (    1596 calls)
     addusdens    :      0.34s CPU      0.55s WALL (       6 calls)

     Called by *egterg:
     h_psi        :     80.83s CPU     88.03s WALL (    6509 calls)
     s_psi        :      0.27s CPU      1.39s WALL (    6509 calls)
     g_psi        :      0.08s CPU      0.29s WALL (    4647 calls)
     cdiaghg      :     19.48s CPU     55.55s WALL (    6243 calls)

     Called by h_psi:
     h_psi:pot    :     80.66s CPU     87.71s WALL (    6509 calls)
     h_psi:calbec :      0.11s CPU      1.51s WALL (    6509 calls)
     vloc_psi     :     80.41s CPU     84.73s WALL (    6509 calls)
     add_vuspsi   :      0.12s CPU      1.42s WALL (    6509 calls)

     General routines
     calbec       :      0.12s CPU      1.94s WALL (    8105 calls)
     fft          :      0.42s CPU      0.26s WALL (     207 calls)
     ffts         :      0.02s CPU      0.03s WALL (      26 calls)
     fftw         :     81.52s CPU     78.15s WALL (  126950 calls)
     interpolate  :      0.03s CPU      0.08s WALL (      26 calls)

     Parallel routines
     fft_scatter  :      0.02s CPU      2.32s WALL (  127183 calls)

     PWSCF        :  2m 5.53s CPU     3m 0.66s WALL


   This run was terminated on:  17:47: 6  23Jul2025            

=------------------------------------------------------------------------------=
   JOB DONE.
=------------------------------------------------------------------------------=
